@import url(http://fonts.googleapis.com/css?family=Antic);
@import url(http://fonts.googleapis.com/css?family=Economica|Bad+Script);

* {
	padding: 0;
	margin: 0;
}

/* ==  Main style == */
html {
	color: #656565;
	letter-spacing: 0.5px;
	font-size: 100%;
}

a {
	color: #5B5B5B;
	text-decoration: none;
    border-bottom: 1px solid #F8F8F8;
}


a:visited {
	color: #5B5B5B;
}

a:hover {
    border-bottom: 1px solid #FD6B3C;
    text-decoration: none;
}

li {
	list-style: none;
}

h2 {
    color: #717171;
}

body {
	font-family: 'Antic', sans-serif;
	margin: 0;
}



.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2%;
}

header {
	color: white;
	text-align: center;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #FD6B3C;
}

.main {
	min-height: 550px;
}

footer {
	background-color: #FD6B3C;
    margin-top: 40px;
	color: white;
	height: 90px;
	bottom: 0;
	width: 100%;
}

footer p {
	padding-top: 34px;
}


/* == Header == */
.main-nav a {
    color: #FD6B3C;
}

.title {
	font-family: 'Economica', sans-serif;
	font-size: 2.7rem;
}

.message {
    vertical-align: top;
}

.title:visited {
	color: #FD6B3C;
}

.main-nav {
	padding: 0px 0;
}

.main-nav li {
    margin: 0 10px;
}

.active a {
	border-bottom: 1px solid #FD6B3C;
	color: #FD6B3C;
}


/* == user nav == */
.user-nav {
	font-size: 1.2rem;
	padding-top: 26px;
	display: inline-block;
	float: right;
}

.user-nav p {
		display: inline-block;
		color: #FD6B3C;
}

.user-nav img {
		width: 10px;
		display: inline-block;
		margin-bottom: 2px;
}

/* == Search on profile page == */

.search-section {

}

.search-section h2 {
	margin-bottom: 4px;
}

#search {
	height: 40px;
	width: 100%;
	outline: none;
	font-size: 22px;
    color: #717171;
    text-align: center;
}

.spinner {
	display: none;
	float: right;
    margin-left: -40px;
}

.search-result {
	margin: 0 1px;
    width: 94%;
	position: absolute;
	z-index: 999;
	box-shadow: 1px 1px 3px grey;
}

.search-li {
    display: block;
	background-color: white;
	border-bottom: 1px solid #FD6B3C;
	min-height: 80px;
	-webkit-animation: fade-in 0.5s; /* Safari 4+ */
  	-moz-animation:    fade-in 0.5s; /* Fx 0.5+ */
  	-o-animation:      fade-in 0.5s; /* Opera 12+ */
 	animation:         fade-in 0.5s; /* IE 10+, Fx 29+ */
}

.search-result li:last-child {
	border: none;
}


.search-li:hover {
	background-color: #FD6B3C;
	color: white;
	cursor: pointer;
}

.movie-title {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0 0 6px;
	font-size: 18px;
}

.rating {
	display: inline-block;
    width: 40px;
	vertical-align: top;
	font-size: 24px;
	margin: 22px 10px 0 6px;
}

.poster {
	display: inline-block;
	vertical-align: top;
}

.poster img {
	margin-top: 4px;
	max-height: 70px;
	width: 50px;
}

/* == fade-in animation == */
@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* ==== */

/* == add movie alert == */
.alert-container {
    display: block;
    position: relative;
    width: 320px;
    margin: -20px auto 6px;
    padding: 0px 0 14px;
}

.alert-watchify {
    font-family: 'Antic', sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    background-color: #FE7F4E;
    color: #ffffff;
    border-color: #FD5220;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* == movie-spec == */

.movie-spec {
	position: relative;
	vertical-align: top;
	margin: 20px 0;
	box-shadow: 1px 1px 6px grey;
	padding: 8px 24px;
}

.movie-spec p {
    color: #717171;
}

.movie-spec ul {
    display: list-item;
}

.welcome-text {
    list-style: lower-latin;
    margin-top: 10px;
}

.emphasize {
    font-size: 20px;
}

.movie-spec span {
	color: #FD6B3C;
}

.movie-spec h2 {
	margin-bottom: 4px;
}

.info-section {
	margin-top: 10px;
}

.info-section ul {
	display: inline-block;
	vertical-align: top;
}

.info-section li {
	display: block;
	margin: 10px 10px;
	font-size: 18px;

}

.movie-spec img {
	width: 100px;
	display: inline-block;
}

.movie-spec li:hover {
    text-decoration: none;
}

.watched-link {
    font-size: 18px;
}

.watched-link:hover {
    text-decoration: underline;
    color: #FB673E;
}
.plus {
    font-size: 26px;
}

.save-movie:hover {
	text-decoration: underline;
	cursor: pointer;
}

.plot {
	margin: 10px 0;
}

/* == recent section == */

.recent-added-p {
    margin-top: 26px;
}

.recent-activities {
	margin-top: 4px;
	border-top: 1px solid #CCCCCC;
}

.recent-activities li {
    border-bottom: 1px solid #FB673E;
    margin: 0 4px;
    padding: 6px 0;
}

/* == Movie tab == */

.movie-lists {
	margin-top: 20px;
}

.movie-lists-img {
     display: inline-block;
}

.movie-lists-img img {
    width: 60px;
}

.movie-lists-plot {
	display: inline-block;
	width: 400px;
	vertical-align: top;
}


/* == Users == */

.p-recent-movies {
    margin: 10px 0;
}

.list-recent-movies {
    display: inline-block;
}

.display-users {
    margin: 20px 0;
}

.display-users h4 {
    border-bottom: 1px solid #FB673E;
}

/* == un/follow button == */

.follow-buttons {
    margin-top: 8px;
}

.follow {
    width: 56px;
}

.follow-username {

}

/* == single movie page == */

.single-movie div {
    margin-top: 10px;
}

.single-movie h1 {
    margin-top: 0;
}

.single-movie-info {
    padding-top: 36px;
}

.single-movie img {
    width: 300px;

}

/* == single user page == */

.single-user {
    padding: 30px 2%;
}

.single-user h4.text-primary {
    border-bottom: 1px solid #FB673E;
}

.single-user img {
    width: 100px;
    margin: 2px;
}



