
.title {
	margin: 0 auto;
	width: 140px;
}

/* == Log in Form == */

.login-page {
	width: 260px;
	margin: 20px auto;
}

input {
	display: block;
	padding: 4px;
	margin: 2px;
	font-size: 1rem;
	color: #5B5B5B;
	outline: none;
	width: 250px;
}

.auth-button {
	background-color: #FD6B3C;
	color: white;
	font-size: 14px;
	border: none;
	padding: 5px 10px;
	display: inline-block;
	width: 70px;
}

.button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.sign-up-link {
	display: inline-block;
	margin-left: 114px;
	color: #5B5B5B;
}


/* == **  == */

/* == create user == */

